<footer class="footer">
	<div class="container-fluid">
		<div class="copyright ml-auto">
			@DateTime.Now.Year Geliştirici <a href="http://www.beratmusdal.com">Berat Muşdal</a>
		</div>
	</div>
</footer>